@use  'initial';
@use 'variables';
@use 'header';
@use 'navbar';
@use 'modal-navbar';
@use 'gallery';
@use 'details';
@use 'input';
@use 'modal-cart';
@use 'modal-gallery';

.main-container {
    position: relative;
    width: 375px;
    margin: auto;
    @media (min-width: 1115px) {
        width: 1115px;
    }
}

.content{
    @media (min-width: 1115px) {
        display: flex;
        padding: 90px 5px;
        gap: 124px;
    }
}


// Footer
.attribution {
    font-size: 14px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
} 